#container{
  height: 491px;
  width: 654px;
  background-image: url('/images/fridge.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
}
#holding{
  height: 500px;
  background-color: lightgray;
  width: 565px;
  padding: 50px;
  display: inline-block;
  float: left;
}
.word{
  height: 20px;
  border: 1px solid #222222;
  background-color: white;
  text-align: center;
  padding: 2px 7px;
  border: 1px solid #AAAAAA;
  border-right: 2px solid #222222;
  border-bottom: 2px solid #222222;
  font-family: "Tahoma, Verdana, Arial, Helvetica, sans-serif";
  display: inline-block;
}
#jail{
  height: 400px;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
